{# common/base.html을 상속받겠음 #}
{% extends 'common/base.html' %}
{% block title %}[글쓰기]{% endblock title %}
{% block body %}
<!-- <script>
    function checkwu() {

        let title = document.getElementById('title1').value;
        let content = document.getElementById('content').value;

        if (title.length <= 5) {
            alert("제목이 비어있거나 5글자 이하입니다.");
            return false
        }

        if (content.length <= 10) {
            alert("내용이 비어있거나 10글자 이하입니다.");
            return false
        }

        if (title.split("바보").length >= 2) {
            alert("제목에 바보는 들어가지 못합니다.");
            return false
        }

        if (title.split("멍청이").length <= 2) {
            alert("제목에 멍청이는 들어가지 못합니다.");
            return false
        }

        if (title.split("한조").length <= 2) {
            alert("제목에 한조는 들어가지 못합니다.");
            return false
        }

        if (content.split("바보").length <= 2) {
            alert("내용에 바보는 들어가지 못합니다.");
            return false
        }

        if (content.split("멍청이").length <= 2) {
            alert("내용에 멍청이는 들어가지 못합니다.");
            return false
        }

        if (content.split("한조").length <= 2) {
            alert("내용에 한조는 들어가지 못합니다.");
            return false
        }
    }
</script> -->
    <h1>글쓰기</h1>
    <form action="{% url 'board:write' %}" method="post" enctype="multipart/form-data" onsubmit="return checkwu();">
        {% csrf_token %}
        <table>
            <tr>
                <th>제목</th>
                <td><input type="text" name="title1" id="title1"></td>
            </tr>
            <tr>
                <th>내용</th>
                <td><textarea name="content" id="content"></textarea></td>
            </tr>
            <tr>
                <th>파일첨부</th>
                <td>
                    <input type="file" name="uploadFile">
                </td>
            </tr>
            <tr>
                <th colspan="2">
                <input type="submit" value="글쓰기">
                </th>
            </tr>
        </table>
    </form>
    <br>
    <a href="../">글 목록</a>
{% endblock body %}