<!--vsc에서는 새파일에 아무 내용도 안들어 있음 -->
<!--HTML 기본 구조를 추가하려면 느낌표 + 엔터 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <h1>django 연습하기</h1>
    <ul>
      <li>
        <!-- (절대참조)localhost:8000/app/call1 -->
        <!--(아래는 상대참조 방식)-->
        <a href="call1">주소 호출하기</a>
      </li>
      <li>
        <!--주소를 통해서 표현하고자 하는 정보를 알기 쉽게 작성 하는 방법-->
        <a href="3">RESTful 주소 호출하기</a>
      </li>
      <li>
        <a href="call3?name=홍길동&age=20">쿼리스트링으로 주소 호출하기</a>
      </li>
      <li>
        <a href="call4?name=이현종">서버에서 데이터 받아오기</a>
      </li>
      <li>
        <a href="call5">템플릿 태그 연습하기</a>
      </li>
      <li>
        <a href="call6">form 태그 연습하기</a>
      </li>
    </ul>
  </head>
  <body></body>
</html>
