<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>itemadd</title>
</head>
<body>
    <h1>itemadd</h1>
    <div>
        <form action="{% url 'orderadd' %}" method="POST">
            {% csrf_token %}
            <table>
                <tr>
                    <th>주문 상품 번호:</th>
                    <td><input type="number" name="item_id"></td>
                </tr>
                <tr>
                    <th>주문 수량:</th>
                    <td><input type="number" name="quantity"></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="추가"></td>
                </tr>
            </table>
        </form>
    </div>
    <a href="../">뒤로</a>
</body>
</html>